.client__list, .team__social-list, .team__list, .section__list, .benefits__list, .subscribe__list, .social__list, .address__list, .con__list, .nav__list, .mobile-menu__nav, .mobile-menu__con, .mobile-menu__soc {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.client__container, .team__container, .section__container, .benefits__container, .hero__container, .footer .container, .header__container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .client__container, .team__container, .section__container, .benefits__container, .hero__container, .footer .container, .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .client__container, .team__container, .section__container, .benefits__container, .hero__container, .footer .container, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .client__container, .team__container, .section__container, .benefits__container, .hero__container, .footer .container, .header__container {
    max-width: 1200px;
  }
}

.section__item {
  position: relative;
  display: block;
  width: 370px;
  height: 294px;
}
.section__item:not(:last-child) {
  margin-right: 30px;
}

.client__title, .team__title, .section__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
@media screen and (max-width: 1199px) {
  .client__title, .team__title, .section__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .client, .team, .benefits {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .client, .team, .benefits {
    padding: 94px 0;
  }
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  color: #212121;
  background-color: #f5f5f5;
  margin: 0; /* 1 */
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

body.modal-open,
body.is-open {
  overflow: hidden;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  /* position: fixed;
  width: 100%;
  z-index: 1;
  top: 0; */
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
    padding: 16px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container__logo-address {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    text-align: center;
  }
}

.logo__text {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__header-studio {
  color: #000000;
}
.logo__footer-studio {
  color: #ffffff;
}
.logo__header-studio, .logo__footer-studio {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__text:hover > .logo__header-studio, .logo__text:focus > .logo__header-studio, .logo__text:hover > .logo__footer-studio, .logo__text:focus > .logo__footer-studio {
  color: #2196f3;
}

.menu__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: none;
  }
}
.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu__container .menu__toggle {
  position: absolute;
  top: 20px;
  right: 15px;
}
.menu__container .menu__toggle_icon {
  z-index: 10;
}

.menu__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background: transparent;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle:hover > .menu__toggle_icon {
  fill: currentColor;
}

.mobile-menu__link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mobile-menu__nav {
  margin-bottom: 300px;
}
.mobile-menu__nav .mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__nav .mobile-menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mobile-menu__nav .mobile-menu__link_current {
  color: #2196f3;
}
.mobile-menu__con {
  margin-bottom: 64px;
}
.mobile-menu__con .mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__con .mobile-menu__link_tel {
  color: #2196f3;
  font-size: 34px;
}
.mobile-menu__con .mobile-menu__link_mail {
  color: #757575;
  font-size: 24px;
}
.mobile-menu__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu__soc .mobile-menu__item:not(:last-child) {
  margin-right: 20px;
}
.mobile-menu__soc .mobile-menu__link {
  color: #2196f3;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: 88px;
  }
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__list .nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
}
.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: #2196f3;
}
.nav__link.nav__link_current {
  position: relative;
  color: #2196f3;
}
.nav__link.nav__link_current::after {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}

.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .con {
    display: none;
  }
}
.con__list {
  margin-left: auto;
}
@media screen and (min-width: 1199px) {
  .con__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.con__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1199px) {
  .con__link {
    padding: 32px 0;
  }
}
.con__link:hover, .con__link:focus {
  color: #2196f3;
}
.con__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .con__item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1199px) {
  .con__item:not(:last-child) {
    margin-right: 50px;
  }
}
.con__icon {
  fill: currentColor;
  margin-right: 10px;
}

.address {
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}
.address__item:not(:first-child) {
  margin-top: 8px;
}
.address__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__text.map {
  color: #ffffff;
}
.address__text:hover, .address__text:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .social {
    margin: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .social {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin: 11px 93px 0 98px;
  }
}
.social__title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .social__title {
    text-align: center;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  fill: #ffffff;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .subscribe {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 11px;
  }
}
.subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscribe__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscribe__item:not(:last-child) {
  margin-right: 12px;
}
@media screen and (max-width: 1199px) {
  .subscribe__item:not(:last-child) {
    margin-right: 0;
  }
}
.subscribe__item input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__item input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__item input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__item input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__item input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__label {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe__label {
    margin-bottom: 20px;
    text-align: center;
  }
}
.subscribe__input {
  color: #ffffff;
  margin-bottom: 20px;
  min-width: 320px;
  height: 50px;
  padding-left: 16px;
  outline: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    min-width: 450px;
  }
}
.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.subscribe__icon {
  fill: currentColor;
  color: #ffffff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}
.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop__hidden .modal {
  -webkit-transform: translate(-50%, -50%) translateY(100%);
          transform: translate(-50%, -50%) translateY(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(0);
          transform: translate(-50%, -50%) translateY(0);
  width: 100%;
  max-width: 450px;
  text-align: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}
.modal__cross {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
.modal__title {
  display: inline-block;
  color: #212121;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 30px;
}

.modal-form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
}
.modal-form__item:nth-child(4) {
  margin-bottom: 20px;
}
.modal-form__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.modal-form__item textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__item textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__item textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__item textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__item textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__item input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 40px;
  resize: none;
  outline: rgba(33, 33, 33, 0.2);
  -webkit-transition: 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area:not(:last-child) {
  padding-left: 42px;
}
.modal-form__area:hover, .modal-form__area:focus {
  outline: 1px solid #2196f3;
}
.modal-form__area_biggest {
  height: 120px;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-form__icon {
    z-index: -1;
  }
}
.modal-form__area:hover ~ .modal-form__icon, .modal-form__area:focus ~ .modal-form__icon {
  color: #2196f3;
}
.modal-form__label {
  position: absolute;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transform: translateY(-115%);
          transform: translateY(-115%);
  margin-right: auto;
}
.modal-form__checkbox-icon {
  position: relative;
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form__icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: currentColor;
  opacity: 0;
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #2196f3;
  background-origin: border-box;
  border-color: transparent;
  color: #ffffff;
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon > .modal-form__icon-check {
  opacity: 1;
}
.modal-form__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-form__terms {
    font-size: 14px;
    line-height: 1.7;
  }
}
.modal-form__link {
  color: #2196f3;
}

.modal-button__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-button__close:hover > .modal__cross, .modal-button__close:focus > .modal__cross {
  color: #2196f3;
}
.modal-button__submit {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin-bottom: 40px;
  -webkit-transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-button__submit:hover, .modal-button__submit:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 118px 0;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: url(../images/teamwork-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/teamwork-3200.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    background-image: url(../images/teamwork-768.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/teamwork-1536.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: url(../images/teamwork-480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/teamwork-960.jpg);
  }
}
.hero__container {
  position: relative;
}
.hero::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.4);
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}
.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  margin: 30px auto 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #f5f4fa;
  color: #212121;
}

.benefits {
  background-color: #ffffff;
}
.benefits__list {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__list {
    grid-template-rows: none;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    grid-template-rows: none;
    grid-template-columns: auto auto auto auto;
  }
}
.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 1199px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.section {
  background-color: #ffffff;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    display: none;
  }
}
.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__item_neondesktop {
  background-image: url("../images/neondesktop.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__item_neondesktop {
    background-image: url("../images/neondesktop-740.jpg");
  }
}
.section__item_phonedesktop {
  background-image: url("../images/phonedesktop.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__item_phonedesktop {
    background-image: url("../images/phonedesktop-740.jpg");
  }
}
.section__item_rgbdesktop {
  background-image: url("../images/rgbdesktop.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__item_rgbdesktop {
    background-image: url("../images/rgbdesktop-740.jpg");
  }
}
.section__thumb {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.section__thumb-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team__card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__list {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    grid-template-rows: none;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    grid-template-rows: none;
    grid-template-columns: auto auto auto auto;
  }
}
.team__social-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
@media screen and (max-width: 1199px) {
  .team__social-list {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1199px) {
  .team__social-list {
    margin-bottom: 30px;
  }
}
.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.team__social-icon {
  fill: currentColor;
}

.client {
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .client {
    padding: 60px 0;
  }
}
.client__list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.client__item {
  height: 92px;
}
.client__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */