.benefits {
  background-color: $primary-white-color;
  @extend %desktop_padding;
  @extend %mobile-tablet_padding;

  &__container {
    @extend %container;
  }

  &__list {
    @extend %list;

    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      grid-template-rows: none;
      grid-template-columns: auto auto;
    }

    @media screen and (min-width: 1200px) {
      grid-template-rows: none;
      grid-template-columns: auto auto auto auto;
    }
  }

  &__icon {
    display: flex;
    background-color: $primary-filter-bg-color;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin: 0 0 10px 0;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__text {
    color: $primary-text-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
