.header {
  /* position: fixed;
  width: 100%;
  z-index: 1;
  top: 0; */
  background-color: $primary-white-color;
  border-bottom: 1px solid $primary-line-color;

  &__container {
    @media screen and (max-width: 767px) {
      position: relative;

      padding: 16px 15px;
      justify-content: space-between;
    }

    @extend %container;
    display: flex;
    align-items: center;
  }
}
