.portfolio {
  background-color: $primary-white-color;

  @extend %mobile-tablet_padding;
  @extend %desktop_padding;

  &__container {
    @extend %container;
  }

  &__list {
    @extend %list;
    display: grid;
    grid-template-rows: auto;
    gap: 30px;

    @media screen and (min-width: 768px) {
      grid-template-rows: none;
      grid-template-columns: auto auto;
    }

    @media screen and (min-width: 1199px) {
      grid-template-rows: none;
      grid-template-columns: auto auto auto;
    }
  }

  &__item {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      min-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }

    background-color: $primary-white-color;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__item:hover > &__link > &__link_thumb > &__link_overlay-content {
    transform: translateY(0%);
  }

  &__item:hover > &__link > &__link_thumb::before {
    transform: translateY(0%);
  }

  &__card {
    border: 1px solid $primary-item-bg-color;
  }

  &__link {
    text-decoration: none;
  }

  &__link_thumb {
    position: relative;
    display: flex;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);

      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateY(100%);
    }
  }

  &__link_overlay-content {
    position: absolute;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $primary-white-color;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }

  &__text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
    margin: 0;
  }

  &__title {
    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
    margin: 0 0 4px 0;
  }
}
