.social {
  margin-top: 11px;
  margin-left: 98px;
  margin-right: 93px;

  &__title {
    color: $primary-white-color;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list {
    @extend %list;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    fill: $primary-white-color;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $icon-bg-color;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}
