.team {
  @extend %mobile-tablet_padding;
  @extend %desktop_padding;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %title;
  }

  &__card {
    background-color: $primary-white-color;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 0;
  }

  &__name {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__list {
    @extend %list;

    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      grid-template-rows: none;
      grid-template-columns: auto auto;
    }

    @media screen and (min-width: 1200px) {
      grid-template-rows: none;
      grid-template-columns: auto auto auto auto;
    }
  }

  &__social-list {
    @extend %list;

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

    justify-content: center;
    margin-top: 16px;

    @media screen and (max-width: 1199px) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &__social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $soc-icons-color;
    background-color: $primary-white-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
    }
  }

  &__social-icon {
    fill: currentColor;
  }
}
